body {
  font-family: 'Oswald', sans-serif;
}

#header{
  background-color: #040186;
  border-bottom: 4px solid red; 
}

.title {
  color: white; 
  font-size: 45px; 
}

.directions {
  font-size: 40px;
  color: #040186;

}

#gamedirections, #companionQuiz, #AliensQuiz, #DoctorQuiz  {
  background-image: url("https://www.transparenttextures.com/patterns/perforated-white-leather.png");
  }


.btn {
  font-size: 30px;
}

#easy, #medium, #hard{
  display: none;
  margin-top: 4px;
}

button {
  margin: 3px;
}

.easy, .medium {
  font-size: 40px;
}

#companionQuiz {
  font-size: 35px;
}

.easyCom, .mediumCom, .hardCom, .easyAlien, .mediumAlien, .hardAlien, .easyDoctor, .mediumDoctor, .hardDoctor{
  display: none;
  font-size: 25px;
}

.backBtn{
  width: 100%;
  display: flex;
  justify-content: center;
}