body {
  font-family: 'Oswald', sans-serif;
}

#header{
  background-color: #040186;
  border-bottom: 4px solid red; 
}

.title {
  color: white; 
  font-size: 45px; 
}

.directions {
  font-size: 40px;
  color: #040186;

}

#gamedirections {
  background-image: url(/imgs/white_tiles.png);
}


.btn {
  font-size: 30px;
}

#easy, #medium, #hard{
  display: none;
  margin-top: 4px;
}

button {
  margin: 3px;
}

.easy, .medium {
  font-size: 20px;
}